
/*======================================================*/

.main {
	/* border: 1px solid; */
	margin: auto;
	max-width: 1048px;
	padding:0px 20px 0px 20px;
}

.main__title {
	margin: auto; /* центрирование блока */
	display:flex;
	flex-direction: row;
	justify-content: center;
}
.lines {
	width: 36px;
	height: 0px;
	border-top: 4px solid #ED1B24;
	margin-top:84px;
}
/*=================================================*/
.main__web-audioplayer {
	display:flex;
	justify-content: center;
	padding-bottom:64px;
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
                               	not supported by any browser */
}
.field-player {
	width:664px;
	height:167px;
	background-color:#F4F1F1;
	position: relative;
}
.now-playing {
	width:167px;
	height:167px;
	background-color:grey;
}
.all-controls { /*выделяем место для основных кнопок*/
	position: absolute;
	/*background-color:black;*/
	width:497px; /*664-167 | ! 497 !*/
	height:167px; /*! 167 !*/
	top:0; 
	right:0;
}
.field-buttons {
	height:86px;
	width:381px; /*497-116 | 116 - это длина кнопки + отсут от края*/
	background-color: ;
	display:flex;
	justify-content: center;
}
.block-buttons {
	display:flex;
	justify-content:center;
	position: relative;
	width:116px;
	height:19px;
	/*background-color: red;*/
	margin-top:27px;
}
.left {
	background-image: url(../img/audioplayer/left.svg);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}
.pos-left {
	position:absolute;
	width: 19px;
	height:19px;
	left:0px;
	top:0;
}
.left:hover {cursor: pointer;}
.stop {
	background-image: url(../img/audioplayer/stop.svg);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}
.pos-stop {
	display:flex;
	position:absolute;
	width: 19px;
	height:20px;
	top:-1px;
}
.stop:hover {cursor: pointer;}
.right {
	background-image: url(../img/audioplayer/right.svg);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}
.pos-right {
	position:absolute;
	width: 19px;
	height:19px;
	right:-2px;
	top:0;
}
.right:hover {cursor: pointer;}
.random-button {
	position: absolute;
	width: 91px;
	height: 26px;
	right: 25px;
	top: 23px;
	background-color: #ED1B24;
	border-radius: 2px;
	cursor:pointer;
}
.field-timeline {
	position: absolute;
	height:81px; /*167-86*/
	width:381px; 
	/*background-color:darkblue;*/
	bottom:0;
	display:flex;
	justify-content: center;
}
.timeline {
	position: absolute;
	width: 318px;
	height: 4px;
	background-color:#8D8D8D;
	border:0;
	cursor:pointer;
	top:-7px;}
.wrap-timeline {
	position: relative;
	width: 318px;
	height: 4px;
	padding:0;
	margin:0;
	top:28px;}
.red-timeline {
	position: absolute;
	width: 0%;
	height: 4px;
	background-color:#ED1B24;
	border:0;
	top:1px;
	cursor:pointer;}
.ellipse-timeline {
	background-image: url(../img/audioplayer/ellipse-timeline.svg);
	cursor:pointer;
	width:12px;
	height:12px;
	margin:-4px -5px 0 0;
	float:right;	
}
.first-time {
	position: absolute;
	left:31px;
	margin-top:-2px;
	font-family: OpenSansRegular;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.07em;
	color: #ED1B24;
}
.second-time {
	position: absolute;
	right:31px;
	margin-top:-2px;
	font-family: OpenSansRegular;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.07em;
	color: #ED1B24;
}
.gain-timeline {
	position: absolute;
	width: 91px;
	height: 4px;
	background-color:#8D8D8D;
	border:0;
	cursor: pointer;
	bottom:-7px;	
}
.wrap-gain-timeline {
	position: absolute;
	width: 91px;
	height: 4px;
	padding:0;
	margin:0;
	cursor:pointer;
	right: 25px;
	bottom:47px;
}
.gain-red-timeline {
	position: absolute;
	width: 100%;
	height: 4px;
	background-color:#ED1B24;
	border:0;
	float:left;
	left: 0px;
	bottom:1px;	
}
.ellipse-gain {
	position: absolute;
	left: 86px;
	background-image: url(../img/audioplayer/ellipse-gain.svg);
	cursor:pointer;
	width:12px;
	height:12px;
	float:right;
	margin:-4px -7px 0 ;
}
#EllipseGain { opacity: 1; }
.now-playing { background-size: 100%; }
.audio-block {
	cursor: pointer;
	background-size: 100%;}
/*=================================================*/
.main__playlist-block {
	display:flex;
	max-width: 962px;
	height: 733px;
	background-color: #F4F1F1;
	border-radius: 15px;
	margin:auto; /*центрирование*/	
}
.main__playlist-content {
	display:flex;
	flex-flow: row wrap; /*автоматические переносы*/
	max-width: 884px;
	height: 661px;
 	justify-content: space-between; /*авто-расстояние между блоками по горизонтали */
    margin: auto; /*центрирование*/
}

.audio-block {
	display:flex;
	margin-bottom: 8px; /*расстояние между блоками по вертикали */
	width:215px;
	height:215px;
	background-color:grey;
}

@media (max-width: 1100px) {
	.main__playlist-block  {
		height: 658px;
	}
	.main__playlist-content {
		height: 586px;
	}

	.audio-block{
		width:190px;
		height:190px;
	}

}
@media (max-width: 1000px) {
	.main__playlist-block  {
	
		padding:0px 40px 0px 40px;
	}
}
@media (max-width: 950px) {
	.main__playlist-block  {
		height: 598px;
		
	}
	.main__playlist-content {
		height: 526px;
		
	}

	.audio-block{
		width:170px;
		height:170px;
	}

}

@media (max-width: 850px) {
	.main__playlist-block  {
		height: 538px;
		
	}
	.main__playlist-content {
		height: 466px;
		
	}

	.audio-block{
		width:150px;
		height:150px;
	}

}
@media (max-width: 770px) {
	.main__playlist-block  {
		height: 778px;
		
	}
	.main__playlist-content {
		height: 706px;
		
	}

	.audio-block{
		width:170px;
		height:170px;
	}
	.video {
		width:320px;
		height: 180px;
	}

}
@media (max-width: 680px) {
	.main__playlist-block  {
		height: 698px;
		
	}
	.main__playlist-content {
		height: 626px;
		
	}

	.audio-block{
		width:150px;
		height:150px;
	}

}
@media (max-width: 710px) { 
	.now-playing {
		width:100px;
		height:100px;
	}
	.field-timeline {
		bottom:-30px;
	}
	.gain {
		position:relative;
		bottom:-111px;
	}
}
@media (max-width: 610px) {
	.main__playlist-block  {
		height: 616px;
		
	}
	.main__playlist-content {
		height: 545px;
		
	}

	.audio-block{
		width:130px;
		height:130px;
	}
	.field-buttons {
		position:relative;
		right:-40px;
		
	}

}
@media (max-width: 540px) {
	.main__playlist-block  {
		height: 533px;
		
	}
	.main__playlist-content {
		height: 462px;
		
	}

	.audio-block{
		width:110px;
		height:110px;
	}
	#cover-play {display:none;}
	.all-controls {
		width:100%; 
		height:167px; /*! 167 !*/
		top:0; 
		right:0;
	}
	.field-buttons {
		width:100%; /*497-116 | 116 - это длина кнопки + отсут от края*/
		left:0;
	}
	.random-button {
		position: absolute;
		width: 26px;
		height: 26px;
		right: 25px;
		top: 23px;

		background-color: #ED1B24;
		border-radius: 100px;

		cursor:pointer;
	}
	.gain {
		display:none;
	}
	.field-timeline {
		width:100%;
	}
}
@media (max-width: 480px) {
	.main__playlist-block  {
		height: 455px;
		
	}
	.main__playlist-content {
		height: 385px;
		
	}

	.audio-block{
		width:90px;
		height:90px;
	}
}
@media (max-width: 410px) {
	.main__playlist-block  {
		height: 428px;
		padding: 0px 26px 0px 26px;
		
	}
	.main__playlist-content {
		height: 382px;
		
	}

	.audio-block{
		width:90px;
		height:90px;
	}
	.first-time {
		left: 10px;
	}
	.second-time {
		right: 10px;
	}
}

@media (max-width: 375px) {
	.main__playlist-block  {
		height: 390px;
		
	}
	.main__playlist-content {
		height: 341px;
		
	}

	.audio-block{
		width:80px;
		height:80px;
	}
}
@media (max-width: 360px) {
	.main {padding:0;}
	.main__playlist-block  {
		height: 413px;
		
	}
	.main__playlist-content {
		height: 364px;
		
	}
	.audio-block{
		width:85px;
		height:85px;
	}
}
@media (max-width: 340px) {
	.main__playlist-block  {
		height: 395px;
		
	}
	.main__playlist-content {
		height: 345px;
		
	}

	.audio-block{
		width:80px;
		height:80px;
	}
}


/*=================================================*/
.main__parent-separator {
	margin: 0 auto;
	max-width:1048px;
}
.main__separator {
	width:inherit;
	height: 2px;
	margin: auto;
	background: #ED1B24;
	border:0;
	margin-top:40px;
	margin-bottom:40px;
}
.youtube-frame {
	text-align:center;
	margin-bottom:64px;
}

.video {
		width:640px;
		height: 360px;
}

@media (max-width: 770px) {

	.video {
		width:400px;
		height: 260px;
	}

}
@media (max-width: 500px) {

	.video {
		width:325px;
		height: 211.25px;
	}

}
@media (max-width: 400px) {

	.video {
		width:250px;
		height: 162.5px;
	}

}